@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecf0f1; 
    color: #2c3e50; 
    justify-content: center;
    align-items: center;
}

/* Barra de navegación */
.navbar {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2c3e50; 
    color: #ecf0f1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    /* Animación de navbar */
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    z-index: 1000; 
}

.navbar.show {
    opacity: 1;
    transform: translateY(0);
}

.navbar-sections a {
    margin-right: 20px;
    color: #ecf0f1;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar-sections a:hover {
    color: #3498db; 
}


.navbar-socials .social-btn {
    margin-left: 10px;
    padding: 8px 12px;
    font-size: 14px;
    text-decoration: none;
    color: #ecf0f1;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.github {
    background-color: #333;
}

.instagram {
    background-color: #e4405f;
}

.linkedin {
    background-color: #0077b5;
}

.twitter {
    background-color: #1da1f2;
}

.navbar-socials .social-btn:hover {
    filter: brightness(1.2);
}

/* Sección inicial */
.first-section-img {
    background-image: url('https://images.pexels.com/photos/207529/pexels-photo-207529.jpeg?cs=srgb&dl=pexels-pixabay-207529.jpg&fm=jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    animation: fadeIn 3s ease;
    width: 100vw; 

    height: 100vh; 
    color: #ecf0f1;
}

@keyframes fadeIn {
    0% { 
        opacity: 0;
        filter: blur(20px);
    }
    10% {
        opacity: 1;
        filter: brightness(2) blur(10px);
    }
    100% { 
        opacity: 1;
        filter: none;
    }
}

#typingEffect {
    font-family: 'Oswald', monospace;
    font-size: 24px;
    width: 100ch; 
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid transparent;
    animation: typing 3s steps(20) 1s forwards, erase 1s steps(20) 4s 1s forwards;
}

@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 20ch; 
    }
}

@keyframes erase {
    0% {
        width: 20ch;
    }
    100% {
        width: 0;
    }
}

/* Secciones y animaciones de las mismas */
section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden-section {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%); 
    transition: all 1s;
}

@media (prefers-reduced-motion) {
    .hidden-section {
        transition: none;
    }
}

.from-left {
    transform: translateX(-100%); 
}

.from-right {
    transform: translateX(100%);  
}

.show-section {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);  
}

/* Experience section */
.experience-section {
    background-color: #f4f4f4;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
}

.experience-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.timeline {
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
}

.timeline-point {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 40px;
}

.timeline-dot {
    width: 20px;
    height: 20px;
    background-color: #4ea4ff;
    border-radius: 50%;
    margin-right: 30px;
    position: relative;
    z-index: 1;
}

.timeline-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative;
}

.timeline-content h3 {
    margin-top: 0;
    color: #333;
}

.timeline-content p {
    color: #555;
}

.timeline-point::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #4ea4ff;
    top: 0;
    left: 9px;
    z-index: 0;
}

.timeline-point:nth-child(odd) .timeline-content {
    margin-left: 60px;
}

.timeline-point:nth-child(even) .timeline-content {
    margin-right: 60px;
}

@media (max-width: 768px) {
    .timeline-point {
        flex-direction: column;
        align-items: center;
    }

    .timeline-point::after {
        width: 100%;
        height: 2px;
        left: 0;
        top: auto;
        bottom: 0;
    }

    .timeline-dot {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .timeline-content {
        width: 80%;
    }
}

/* Skills section */
.skills-section {
    background-color: #f4f4f4;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px; /* Espaciado entre elementos */
    padding: 20px;
}

.skills-section .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.skills-section .card {
    border: 1px solid #ddd;
}

.skills-section .cube-container {
    grid-column: 3 / 4; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eaeaea;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 200px; 
}

#three-container {
    width: 100%; /* Ocupa todo el ancho disponible dentro de .cube-container */
    height: 100%; /* Ocupa toda la altura disponible dentro de .cube-container */
    background-color: #2c3e50; /* Fondo oscuro para resaltar la animación */
    border-radius: 8px; /* Consistencia con el diseño */
    overflow: hidden; /* Asegura que el contenido no se desborde */
    position: relative; /* Para permitir posicionamiento interno relativo */
}

.skills-section .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.skills-section .expertise-icon {
    font-size: 150px;
    max-width: 150px;
}

.skills-section .progress-container {
    background: #f1f1f1;
    border-radius: 4px;
    overflow: hidden;
    height: 20px;
    margin: 10px 0;
}

.skills-section .progress-bar {
    background: #4ea4ff;
    height: 100%;
    width: 70%; /* Cambia este valor según el progreso */
    transition: width 0.3s ease;
    text-align: center;
    color: #fff;
    line-height: 20px;
}

#typingEffect {
    font-family: 'Oswald', sans-serif; 
    font-size: 24px; 
    font-weight: 400; 
}